<div class="container">

  <div class="row">
    <div class="col-1 py-3">
      <img class="logo" src="../../assets/hospitalLogo1.png" />
    </div>
    <div class="col-11 py-3 ms-auto">
      <h1 class="">ALPHA</h1>
      <h3 class="h">General Hospital Ltd.</h3>
    </div>
  </div>
  
<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="\home">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" href="\about">Document</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="\contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="\doctors">Find Doctors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="\patient">Patient Application</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="\administrator">Administrator</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="\ourservice">Our Service</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>
  <h1>Hospital Management</h1>
 
    <marquee>
      <span>
      <ul>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;■&nbsp;<a href="...">করোনা ভাইরাস সংক্রমণের ঝুঁকি কমাতে যা করতে হবে </a></span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;■&nbsp;<a href="....">২০১৯ নোভেল করোনা ভাইরাস সনাক্ত করণ এবং পরিমাপকের তথ্য প্রবাহ</a></span>

                      <span>&nbsp;&nbsp;&nbsp;&nbsp;■&nbsp;<a href="....">স্বাস্থ্য অধিদপ্তরের পরিচালনায় চিকিৎসকদের জন্য করোনাভাইরাস (কোভিড-১৯) সম্পর্কিত অনলাইন প্রশিক্ষণ</a></span>
                </ul>
              </span>
    </marquee>
    <div id="carouselExampleControls" class="carousel slide w-100 h-100" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/b.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/b2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/b3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/b4.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/b1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/b5.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <div class="newsTicker">
  </div>
  <div class="row">
    <!--main content start-->
    <div class="col-9">
     

      <div class="row mt-3">

        <div class="col-6 mt-3">
          <div class="border bg-light p-2">
            <h5>Alpha Hospital Ltd. : Bangladesh</h5>
            <div>
              <img src="../../assets/2.png" class="float-start me-4" width="30%">
              <ul>
                <li>Hospital: Introduction</li>
                <li>Worldwide Hospital Service</li>
                <li>Hospital treatment <br> the world of treatment</li>
                <li>CNPP 2016</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-6 mt-3">
          <div class="border bg-light p-2">
            <h5>Hospital Service Management</h5>
            <div>
              <img src="../../assets/1.jpg" class="float-start me-4" width="30%">
              <ul>
                <li>Good service</li>
                <li>Activities carried out in Hospital Management(1st phase)</li>
                <li>Activities carried out in Hospital Management(Core phase)</li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-6 mt-3">
          <div class="border bg-light p-2">
            <h5>Doctors</h5>
            <div>
              <img src="../../assets/dd.jpg" class="float-start me-4" width="30%">
              <ul>
                <li>There are round-the-clock specialist doctors</li>
                <li>There are round-the-clock specialist surgeon</li>
                <li>Application form</li>
                <li>Non-objection</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-6 mt-3">
          <div class="border bg-light p-2">
            <h5>Care of Patient</h5>
            <div>
              <img src="../../assets/p.jpg" class="float-start me-4" width="30%">
              <ul>
                <li>The highest level of service is provided to every patient</li>
                <li>Good care of Patient</li>
                <li>Spent fuel menagement</li>
                <li>Physical security system</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-6 mt-3">
          <div class="border bg-light p-2">
            <h5>Digital Diagnosis Machine</h5>
            <div>
              <img src="../../assets/he.jpg" class="float-start me-4" width="30%">
              <ul>
                
                <li>Diagnosis is done by Own Machine</li>
                <li>There Diagnosis is done by digital Machine</li>
                <li>Digital lab</li>
                <li>Lab specialist </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-6 mt-3">
          <div class="border bg-light p-2">
            <h5>Mics.</h5>
            <div>
              <img src="../../assets/mic.jpg" class="float-start me-4" width="30%">
              <ul>
                <li>Public awareness activities</li>
                <li>Skilled human resource development</li>
                <li>International Atomic Energy Agency cooperation</li>
                <li>Hospital plant and water requirement</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--main content end-->

    <!--sidebar start-->
    <div class="col-3">
      <h6 class="bg-success p-2 text-white mt-3">Alpha Hospital</h6>
      <img src="../../assets/2.png" class="w-100" />
      <h6 class="bg-success p-2 text-white mt-3">Alpha Diagnosis center</h6>
      <img src="../../assets/he.jpg" class="w-100" />
      <h6 class="bg-success p-2 text-white mt-3">Alpha Nursing</h6>
      <img src="../../assets/n.jpg" class="w-100" />

    </div>
    <!--sidebar end-->
  </div>

</div>
<!--container end-->

<footer class="mt-4 footer-border light-grey px-2 py-4">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <p class="text-start m-0">Copyright. All rights reserved.</p>
        <img src="../../assets/hospitalLogo1.png" width="200" height="60" />
      </div>
      <div class="col-3">
        <h5>Links</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Examples</a></li>
          <li><a href="#">Icons</a></li>
          <li><a href="#">Themes</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Swag Store</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h5>Guides</h5>
        <ul>
          <li><a href="#">Getting started</a></li>
          <li><a href="#">Starter template</a></li>
          <li><a href="#">Webpack</a></li>
          <li><a href="#">Parcel</a></li>
          <li><a href="#">Vite</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h5>Community</h5>
        <ul>
          <li><a href="#">Issues</a></li>
          <li><a href="#">Discussions</a></li>
          <li><a href="#">Corporate sponsors</a></li>
          <li><a href="#">Open Collective</a></li>
           <li><a href="#">Stack Overflow</a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
  crossorigin="anonymous"></script>

