<div class="container">

    <form >
      <button class="btn" >A1</button>
      <button class="btn" >A2</button>
      <button class="btn" >A3</button>
      <button class="btn" >A4</button>
      <button class="btn" >B1</button>
      <button class="btn" >B2</button>
      <button class="btn" >B3</button>
      <button class="btn" >B4</button>
      <button class="btn" >C1</button>
      <button class="btn" >C2</button>
      <button class="btn" >C3</button>
      <button class="btn" >C4</button>
    </form>
  </div>
  
