<div class="b">
    <div class="shadow-lg p-5 mb-5 bg-body rounded-3 w-50" style="margin: auto;">
        <form (submit)="search()" class="p-3" style="background-color: rgb(114, 230, 230);">
          <h2 align="center" class="text-success">Search Appointment Info</h2>
    
          <div class="mt-3">
            <label for="id" class="form-label">UserID:</label>
            <input type="text" class="form-control" name="userid" id="userid" required minlength="5" [(ngModel)]="userid">
</div>
<div class="mt-3 btn-group form-control" role="group" aria-label="Basic mixed example">
    <button type="submit" class="form-control btn btn-success m-3"
      >Search</button>
      
  </div>
          
         
        </form>
      
      </div>