<div class="shadow-lg p-5 mb-5 bg-body rounded-3 w-50" style="margin: auto;">
  <form  class="p-3" >
   <h2 class="a">Invoice</h2>
  <h5 >Invoice No : 0973</h5>
  <h5 >ID : 1234</h5>
  <h5 >Name : Munira</h5>
  <h5 >Bill Provider : </h5>
  <div class="col">

    <div class="col-7">
      <h5 >Adimission Date : 18-08-2023</h5>
      
    </div>
    <div class="col-7">
      <h5 >Discharge Date : 21-08-2023</h5>
    
    </div>
  </div>
  <h3 align="center">Hospital Bill Details</h3>
  <div class="col">
    <div class=" shadow-lg p-11 mb-5 ">
      <h4 >General Bill</h4>
      <table class="table table-striped mt-5">
        <thead >
          <th >No of bill</th>
         
          <th>bill Name</th>
          <th> Quantity</th>
          <th >Price</th>


        </thead>
        <tbody>
          <tr >
            
            <td>1</td>
            <td>Bed/Cabin Charge</td>
            <td>4 days</td>
            <td>2000</td>
          </tr>
          <tr >
            
            <td>2</td>
            <td>Nursing Charge</td>
            <td>4 days</td>
            <td>400</td>
          </tr>
          <tr >
            
            <td>3</td>
            <td>Blood Transfusion Charge</td>
            <td>1</td>
            <td>1000</td>
          </tr>
          <tr >
            
            <td>4</td>
            <td>injection Charge</td>
            <td></td>
            <td>100</td>
          </tr>
          <tr >
            
            <td>5</td>
            <td>Surgeon Charge</td>
            <td>-</td>
            <td>4000</td>
          </tr>
          <tr >
            
            <td>6</td>
            <td>Annesthetist Charge</td>
            <td>-</td>
            <td>1000</td>
          </tr>
          <tr >
            
            <td>7</td>
            <td>Consultants Charge</td>
            <td></td>
            <td>500</td>
          </tr>
          <tr >
            
            <td>8</td>
            <td>Specialist Charge</td>
            <td></td>
            <td>900</td>
          </tr>
          <tr >
            
            <td>9</td>
            <td> Blood</td>
            <td>3</td>
            <td>1000</td>
          </tr>
          <tr >
            
            <td>10</td>
            <td> Operation Theater Charge</td>
            <td>-</td>
            <td>3000</td>
          </tr>
          <tr >
            
            <td>11</td>
            <td>Surgical Appliance</td>
            <td>10</td>
            <td>4000</td>
          </tr>
          <tr >
            
            <td></td>
            <td> Total General bill</td>
            <td>=</td>
            <td>18500/=</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col">
    <div class=" shadow-lg p-11 mb-5 ">
      <h4 >Diagnosis Bill </h4>
      <table class="table table-striped mt-5">
        <thead >
          <th >No of test</th>
          <th >Test-ID</th>
          <th>Test Name</th>
          <th >Price</th>


        </thead>
        <tbody>
          <tr >
            
            <td>1</td>
            <td>101</td>
            <td>CBC</td>
            <td>450</td>
          </tr>
          <tr >
          <td>2</td>
            <td>103</td>
            <td>Blood Group + Rh Factor</td>
            <td>100</td>
          </tr>
          <tr >
            <td>3</td>
              <td>104</td>
              <td> Cross Matching</td>
              <td>400</td>
            </tr>
            <tr >
              <td>4</td>
                <td>1014</td>
                <td> Plain X-ray Abdomen</td>
                <td>550</td>
              </tr>
              <tr >
                <td>5</td>
                  <td>1055</td>
                  <td> ECG</td>
                  <td>300</td>
                </tr>
                <tr >
                  <td></td>
                    <td>Total test Bill</td>
                    <td> -</td>
                    <td>1800</td>
                  </tr>
        </tbody>
      </table>
    </div>
  </div>

  
    <div class=" shadow-lg p-11 mb-5 ">
       <h4 >Medicine Bill </h4> 
      <table class="table table-striped mt-5">
        <thead >
          <th >No of Medicine</th>
          <th >Medicine-ID</th>
          <th>Medicine Name</th>
          <th >Price</th>


        </thead>
        <tbody>
          <tr >
            
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">

    <div class="col-4">
      <h5 >SubTotal : 20300</h5>
      
    </div>
    <div class="col-4">
      <h5 >Tax Rate : 9%</h5>
    </div>
    <div class="col-4">
      <h5 >Tax : 3465</h5>
</div>
<div class="col-4">
  <h5 >Total : 23765/=</h5>
</div>
    
  </div>
  </form>
</div>


<!-- <div class="row p-3">
  <div class="col shadow-lg p-3 mb-5 bg-body rounded-3">
    <form novalidate #f="ngForm" >
      <h2 align="center">Bill Invoice</h2>
      <div>
        <label for="id" class="form-label">Invoice No:</label>
        
        <input type="text" class="form-control" name="invoice.billid" id="invoice" [(ngModel)]="invoice.billid" #round1="ngModel">
      </div>
      <div class="mt-3">
        <label for="id" class="form-label">ID:</label>
        <input type="text" class="form-control" name="invoice.id" id="invoice.id"  [(ngModel)]="invoice.id"
           #id1="ngModel">
      </div>
      
      <div class="mt-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" name="invoice.name" id="name" [(ngModel)]="invoice.name" #name1="ngModel" required>
      </div>
      <ul *ngIf="name1.dirty && name1.invalid" class="text-danger list-unstyled">
        <li *ngIf="name1.errors?.['required']">Empty not allowed</li>
      </ul>


      
      <div class="mt-3">
        <label for="id" class="form-label">Reference:</label>
        <input type="text" class="form-control" name="invoice.consultant" id="consultant" [(ngModel)]="invoice.consultant">
      
      </div>
      <div class="mt-3">
        <label for="id" class="form-label">Bill Date:</label>
        <input type="date" class="form-control" name="invoice.bdate" id="bdate" [(ngModel)]="invoice.bdate">
      </div>
      

      <div class="col">
        <div class=" shadow-lg p-11 mb-5 ">
          <h2 align="center">Diagnosis Details</h2>
          <table class="table table-striped mt-5">
            <thead class="bg-primary">
              <th class="a">No of test</th>
              <th class="a">Test-ID</th>
              <th class="a">Test Name</th>
              <th class="a">Price</th>


            </thead>
            <tbody>
              <tr *ngFor="let x of invoiceDetails; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{x.tid}}</td>
                <td>{{x.tname}}</td>
                <td>{{x.price}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-3">

          <label for="id" class="form-label">SubTotal:</label>
          <input type="text" class="form-control" name="invoice.totalbill" id="subtotal" [(ngModel)]="invoice.totalbill" #id1="ngModel">

        </div>
        <div class="col-3">

          <label for="id" class="form-label">Discount:</label>
          <input type="text" class="form-control" name="invoice.commision" id="commision" [(ngModel)]="invoice.commision" #id1="ngModel">

        </div>
        <div class="col-3">

          <label for="id" class="form-label">Total:</label>
          <input type="text" class="form-control" name="invoice.subtotal" id="totalbill" [(ngModel)]="invoice.subtotal" #id1="ngModel">
        </div>
        
      </div>
    </form>

  </div>
</div> -->
