<div class="a">
<h1  >Report Summary</h1>

<br>
<div class="row">
    <div class="col-5">
        <h5>  Last Month Appointment Patient : 18</h5>
        {{earning}}
    </div>
    <div class="col-6">
        <h5>Total Appointment patient : 379</h5>
        {{earning}}
    </div>
    <br>
    <br>
    <br>
    </div>
    <div class="row">
        <div class="col-5">
            <h5>  Last Month Admit Patient : 14</h5>
            {{earning}}
        </div>
        <div class="col-6">
            <h5>Total Admit patient : 189</h5>
            {{earning}}
        </div>
        <br>
        <br>
        <br>
        </div>
<div class="row">
<div class="col-5">
    <h5>  Last Month Patient : 32</h5>
    {{earning}}
</div>
<div class="col-6">
    <h5>Total patient : 568</h5>
    {{earning}}
</div>
<br>
<br>
<br>
</div>
<div class="row">
    <div class="col-5">
        <h5>  Last Month test : 69</h5>
        {{earning}}
    </div>
    <div class="col-6">
        <h5>Total Test : 1056</h5>
        {{earning}}
    </div>
    <br>
    <br>
    <br>
    </div>
    <div class="row">
        <div class="col-5">
            <h5>  Last Appointment Amount : 9800 Tk.</h5>
            {{earning}}
        </div>
        <div class="col-6">
            <h5>Total Appointment Amount : 3,79,700 Tk.</h5>
            {{earning}}
        </div>
        <br>
        <br>
        <br>
        </div>
        <div class="row">
            <div class="col-5">
                <h5>  Last Test Amount : 20,700 Tk.</h5>
                {{earning}}
            </div>
            <div class="col-6">
                <h5>Total Test Amount : 4,75,200 Tk.</h5>
                {{earning}}
            </div>
            <br>
            <br>
            <br>
            </div>
    <div class="row">
        <div class="col-5">
            <h5>   Monthly Earning : 30,500 Tk.</h5>
            {{earning}}
        </div>
        <div class="col-6">
            <h5>Total Earning : 8,54,900 Tk.</h5>
            {{earning}}
        </div>
       
        </div>
    </div>