

<div class="row p-3">
    <div class="col shadow-lg p-3 mb-5 bg-body rounded-3">     
      <form  novalidate #f="ngForm" (ngSubmit)="appoinment()">
        <h2 align="center">Patient Form</h2>
        <div class="mt-3">
          <label for="id" class="form-label">ID:</label>
          <input type="text" class="form-control" name="id" id="id" required minlength="3" [(ngModel)]="sc.id" #id1="ngModel">
        </div>
        <ul *ngIf="id1.dirty && id1.invalid" class="text-danger list-unstyled" >
          <li *ngIf="id1.errors?.['required']">Empty not allowed</li>
          <li *ngIf="id1.errors?.['minlength']">Minimum 3 charecter</li>
        </ul>
        <div class="mt-3">
          <label for="name" class="form-label">Name:</label>
          <input type="text" class="form-control" name="name" id="name" [(ngModel)]="sc.name" #name1="ngModel" required>
        </div>
        <ul *ngIf="name1.dirty && name1.invalid" class="text-danger list-unstyled" >
          <li *ngIf="name1.errors?.['required']">Empty not allowed</li>
        </ul>
        
        <div class="mt-3">
          <label for="id" class="form-label">Email:</label>
          <input type="text" class="form-control" name="email" id="email" [(ngModel)]="sc.email"  pattern="^[A-Za-z0-9]+\@[A-Za-z]+\.[A-Za-z]{2,3}$" #email1="ngModel" required>
        </div>
        <ul *ngIf="email1.dirty && email1.invalid" class="text-danger list-unstyled" >
          <li *ngIf="email1.errors?.['required']">Empty not allowed</li>
         
          <li *ngIf="email1.errors?.['pattern']">Write a valid email</li>
        </ul>
        <div>
          <label for="id" class="form-label">Age:</label>
          <input type="text" class="form-control" name="age" id="age" [(ngModel)]="sc.age" #round1="ngModel">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label btn btn-info">Gender</label>
          <br>
          <input type="radio" [(ngModel)]="sc.gender" id="Male"  name="gender" value="Male">Male
          <input type="radio" [(ngModel)]="sc.gender" id="Female"  name="gender" value="Female">Female
        </div>
        <div class="mt-3">
          <label for="id" class="form-label">Password:</label>
          <input type="password" class="form-control" name="password" id="password" [(ngModel)]="sc.password"  >
        </div>
        <div class="mt-3">
          <button type="submit" class="form-control btn btn-outline-success mt-2"  [disabled]="!f.valid">Add</button>
         
        </div>
        
      </form>
      
    </div>
    </div>

