<div class="b">
<div class="container">
    <div class="shadow-lg p-5 mb-5 bg-body rounded-3 w-50" style="margin: auto;">
    <form (submit)="login()" class="p-3" style="background-color: rgb(102, 111, 114);">
        <div>
            <label class="form-label">Username</label>
            <input class="form-control" id="name" name="username" [(ngModel)]="name">
        </div>
        <div>
            <label class="form-label">Password</label>
            <input type="password" class="form-control" id="pass" name="password" [(ngModel)]="password">
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>
</div>
</div>