<style type="text/css">
  img.wp-smiley,
  img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
  }
  </style>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="\doctor1">Doctor Details</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" href="\patientinfo">Patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="\contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="\doctors">Doctors</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="\administrator">Administrator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="\ourservice">Our Service</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>
  <h1>Hospital Management</h1>
  <div class="a">
    <div class="container">
    <main class="container">
    <aside class="sidebar">
      <span class="sidebarHearing">Hospital Service Section</span>
  <ul id="sideMenu" class="sbarBox"><li id="menu-item-766" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-766"><a href="http:/doctors">Find Doctors</a></li>
  <li id="menu-item-1936" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1936"><a href="http:/create">New Patient Registration</a></li>
  <li id="menu-item-2999" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2999"><a href="/plogin"> Patient Login</a>
  
  </li>
  <li id="menu-item-3107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3107"><a href="http:/search">Search Patient Info</a></li>
  <li id="menu-item-925" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-925"><a href="http:/dreportinfo">Doctor Report Summary</a></li>
  <li id="menu-item-928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-928"><a href="http:/chart">Patient Chart </a></li>
  <li id="menu-item-928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-928"><a href="http:/searchbinfo">Report Summary</a></li>
  
  </ul>
      </aside>
    <form>

    </form>
  </main>
</div>
  </div>

